
# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


# Handy things
# alias spotify="osascript ~/code/SpotifyControl/SpotifyControl.scpt"


# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"

# List only directories
alias lsd='ls -l | grep "^d"'

# `cat` with beautiful colors. requires Pygments installed.
alias c='pygmentize -O style=monokai -f console256 -g'

# IP addresses
alias localip="ipconfig getifaddr en1"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# Git Shortcuts
alias g="git"
alias gs="git status -s"
alias gb="git branch"
alias gba="git branch -a"
alias gl="git log --pretty=oneline -n 20 --graph --abbrev-commit"
alias gf="git fetch"
alias grom="git rebase origin/master"
alias gfgrom="git fetch && git rebase origin/master"
alias ga="git add -A"
alias gc="git commit -m"
alias gagc="git commit -am"
alias gpom="git push origin master"

# Other Shortcuts
alias v="vim"
alias imgur="imgur-screenshot.sh"

# JH Blog
alias jh-build="gatsby build"
alias jh-deploy="npm run deploy"
