# Copy this file to .env and fill in only the values you need
# Include system-wide keys here - include ""

ANTHROPIC_API_KEY=""

VERCEL_TOKEN=""
VERCEL_ORG_ID=""

OPENAI_API_KEY=""

PERPLEXITY_API_KEY=""

NOTION_API_KEY=""

FIRECRAWL_API_KEY=""

FIGMA_API_KEY=""

JIRA_API_TOKEN=""