<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vero.gettingstarted.keywords</string>
	<key>connections</key>
	<dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D49E4095-2F93-4576-8592-80F1A15B8562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D49E4095-2F93-4576-8592-80F1A15B8562</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9E41FA6-3D37-4A83-B9A6-8B402FC6886C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A1BC4AC2-EBBC-4D6B-89F7-EC747162B794</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8D00DF94-A923-4D8D-8BD5-8F52FD682468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9F3FFC60-A81A-4E15-AD4B-14B76887862B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>73D648E5-9D08-4FCF-A2F3-1E4F0114576E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DB9B3D9F-365F-42C9-B15E-F20444952E50</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EAE58A4A-0CCB-4F83-9D77-582923430D37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7FECD87E-9FDB-4AE8-B6B2-DCA4AC92FFED</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0B28C96-3009-479C-8678-883F933BE3E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FD9ECB3C-2F5B-4727-B971-FE7734A8F69F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9C007024-500B-4651-B321-7E5CF29FA374</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>064506AB-0509-4E29-A2F6-DB70496F702C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2489CD81-F9ED-4CF0-B85D-BC0FBFC3EFF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>449B62C3-4E27-4D11-B950-1FCE8BCF3EC4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6BD5CD78-74A1-4225-9F60-A436B3BD251E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9C60E011-DEC2-4863-A705-7702C03C8A2C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B4A5FD38-B590-4F35-B13F-AE6CB5104607</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EE2E801E-F9D5-40EE-B08F-ABF03E1C2ED5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vero Pepperrell</string>
	<key>description</key>
	<string>Learn how to connect a keyword to different actions and outputs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Keywords - Getting Started</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://reactjs.org/docs/react-api.html</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B9E41FA6-3D37-4A83-B9A6-8B402FC6886C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://react-hook-form.com/api/useform</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8D00DF94-A923-4D8D-8BD5-8F52FD682468</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.cypress.io/guides/guides/command-line#How-to-run-commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>73D648E5-9D08-4FCF-A2F3-1E4F0114576E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>react</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>A1BC4AC2-EBBC-4D6B-89F7-EC747162B794</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>form</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>9F3FFC60-A81A-4E15-AD4B-14B76887862B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>cy</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>DB9B3D9F-365F-42C9-B15E-F20444952E50</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>dex</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7FECD87E-9FDB-4AE8-B6B2-DCA4AC92FFED</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>color</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>FD9ECB3C-2F5B-4727-B971-FE7734A8F69F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>icon</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>2E0C1172-FF3A-4180-B7E2-99605B687E35</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>vim</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>064506AB-0509-4E29-A2F6-DB70496F702C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>next</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>449B62C3-4E27-4D11-B950-1FCE8BCF3EC4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>date</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>9C60E011-DEC2-4863-A705-7702C03C8A2C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>lo</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>EE2E801E-F9D5-40EE-B08F-ABF03E1C2ED5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D49E4095-2F93-4576-8592-80F1A15B8562</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://dexie.org/docs/API-Reference</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EAE58A4A-0CCB-4F83-9D77-582923430D37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>doc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show docs websites {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://tailwindcss.com/docs/customizing-colors</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F0B28C96-3009-479C-8678-883F933BE3E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://vim.rtorr.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9C007024-500B-4651-B321-7E5CF29FA374</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://nextjs.org/docs/basic-features/data-fetching/get-server-side-props</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2489CD81-F9ED-4CF0-B85D-BC0FBFC3EFF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://date-fns.org/docs/Getting-Started</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6BD5CD78-74A1-4225-9F60-A436B3BD251E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://lodash.com/docs/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B4A5FD38-B590-4F35-B13F-AE6CB5104607</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>2489CD81-F9ED-4CF0-B85D-BC0FBFC3EFF5</key>
		<dict>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. Add a keyword object by right-clicking the canvas and choosing Inputs &gt; Keyword. Set the keyword and title to show it in Alfred's results.</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>6BD5CD78-74A1-4225-9F60-A436B3BD251E</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>73D648E5-9D08-4FCF-A2F3-1E4F0114576E</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>8D00DF94-A923-4D8D-8BD5-8F52FD682468</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>9C007024-500B-4651-B321-7E5CF29FA374</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>B4A5FD38-B590-4F35-B13F-AE6CB5104607</key>
		<dict>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>B9E41FA6-3D37-4A83-B9A6-8B402FC6886C</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>D49E4095-2F93-4576-8592-80F1A15B8562</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>EAE58A4A-0CCB-4F83-9D77-582923430D37</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>F0B28C96-3009-479C-8678-883F933BE3E9</key>
		<dict>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
