# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

# Types of Snippets #
# - Javascript (.source.js)
# - Markdown (.source.gfm)


'.source.scss':
  'Background Image':
    'prefix': 'bg-image'
    'body': """
      background-image: url('$1');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center
    """

'.source.gfm':
  'Travel Log':
    'prefix': 'tlog'
    'body': """
      ---
      date: 2017-$1
      layout: log
      location: $2
      coffee: $3
      office: $4
      restaurants: $5
      bars: $6
      beers: $7
      hikes:
      movies:
      games:
      climbing:
      books:
      links:
      achievements:
      personal_growth:
      highlight:
      description:
      private_notes:
      ---

      $10
    """
