<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.alfred-unicode</string>
	<key>connections</key>
	<dict>
		<key>12890D35-22B2-47AB-A54A-3BF0C1F8841D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>305244D4-28CD-479F-A437-AB874B97A000</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>26D6782B-964D-4B7F-A280-CBCEB7B008A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F52BC7E2-4307-4A55-9A30-367D05308B5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>305244D4-28CD-479F-A437-AB874B97A000</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91C833C3-1CC0-4140-92A1-7A85413DD9CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26D6782B-964D-4B7F-A280-CBCEB7B008A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A906369-B077-4300-9FB0-93C69DD9C985</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D025E895-3B47-4A1D-A37A-7A57A0A532C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67801BE2-E5E0-425F-94C5-B29CC3BBD90A</key>
		<array/>
		<key>7314F689-0081-4208-B395-5063E2A71F69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3BF1DED-3BDD-49A2-B001-6CD015F96673</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91C833C3-1CC0-4140-92A1-7A85413DD9CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B56A2C8A-964E-4B12-98E0-F265F34E1F13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4D3FBC95-CA0B-4795-8583-FD3A4611736E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3458DD9D-B744-4AB4-A24A-0A50F68064C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A636AC98-75A2-40A9-A511-7A089BE9CB6D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67801BE2-E5E0-425F-94C5-B29CC3BBD90A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8A60BEAF-0A81-4F5A-B667-0EF0B96EBCC9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1CC6C51-731B-4972-942F-5A407208B50B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>05670C8B-6D8B-4F4E-9817-FD654D335CB3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3BF1DED-3BDD-49A2-B001-6CD015F96673</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B564A9DA-3F70-471A-8DF3-8A537CBF2975</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B23AEA1C-49B7-4BD4-B519-E59BC7445EA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D025E895-3B47-4A1D-A37A-7A57A0A532C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B564A9DA-3F70-471A-8DF3-8A537CBF2975</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>305244D4-28CD-479F-A437-AB874B97A000</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>B56A2C8A-964E-4B12-98E0-F265F34E1F13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>887411E2-8BF2-4218-8B04-2D5B0DC36898</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1CC6C51-731B-4972-942F-5A407208B50B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D7B7F22-0E9D-4FEC-886B-7B37DAF6A71A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D025E895-3B47-4A1D-A37A-7A57A0A532C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>305244D4-28CD-479F-A437-AB874B97A000</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>Explore Unicode characters</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Unicode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>887411E2-8BF2-4218-8B04-2D5B0DC36898</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>Copy to Clipboard</string>
						<key>uid</key>
						<string>4D3FBC95-CA0B-4795-8583-FD3A4611736E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>Open URL/File</string>
						<key>uid</key>
						<string>A636AC98-75A2-40A9-A511-7A089BE9CB6D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>setconfig</string>
						<key>outputlabel</key>
						<string>Set Config</string>
						<key>uid</key>
						<string>8A60BEAF-0A81-4F5A-B667-0EF0B96EBCC9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Run Trigger</string>
						<key>uid</key>
						<string>05670C8B-6D8B-4F4E-9817-FD654D335CB3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>91C833C3-1CC0-4140-92A1-7A85413DD9CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "ignoredynamicplaceholders" : false,
      "transient" : false,
      "clipboardtext" : "(query)",
      "autopaste" : "{var:autopaste}"
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>B56A2C8A-964E-4B12-98E0-F265F34E1F13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.u</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching Unicode database…</string>
				<key>script</key>
				<string>./alfred-unicode "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Explore Unicode characters in Alfred</string>
				<key>title</key>
				<string>Search Unicode</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>search</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D025E895-3B47-4A1D-A37A-7A57A0A532C7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>active_app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>4A906369-B077-4300-9FB0-93C69DD9C985</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/open "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3458DD9D-B744-4AB4-A24A-0A50F68064C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/--------- SCRIPT FILTER OUT ---------\
query={query}
variables={allvars}
\--------- SCRIPT FILTER OUT ---------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>305244D4-28CD-479F-A437-AB874B97A000</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>./alfred-unicode -config "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Preferences</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>config</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>12890D35-22B2-47AB-A54A-3BF0C1F8841D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>active_app</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B23AEA1C-49B7-4BD4-B519-E59BC7445EA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>F52BC7E2-4307-4A55-9A30-367D05308B5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:hide_alfred}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>26D6782B-964D-4B7F-A280-CBCEB7B008A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e

value="$1"
bid="${alfred_workflow_bundleid}"
trigger="${trigger:-config}"


# update info.plist
/usr/libexec/PlistBuddy -c "Set :variables:${varname} \"${value}\"" info.plist

# tell Alfred to reload workflow
/usr/bin/osascript -e "tell application id \"com.runningwithcrayons.Alfred\" to reload workflow \"${bid}\""

# run trigger
test -z "$trigger_query" &amp;&amp; {
	/usr/bin/osascript -e "tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"${trigger}\" in workflow \"${bid}\""
} || {
	/usr/bin/osascript -e "tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"${trigger}\" in workflow \"${bid}\" with argument\"${trigger_query}\""
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>67801BE2-E5E0-425F-94C5-B29CC3BBD90A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>choose</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7314F689-0081-4208-B395-5063E2A71F69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>./alfred-unicode -config -choose "$what" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Set Configuration Option</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B564A9DA-3F70-471A-8DF3-8A537CBF2975</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>what</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A3BF1DED-3BDD-49A2-B001-6CD015F96673</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>{var:trigger}</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5D7B7F22-0E9D-4FEC-886B-7B37DAF6A71A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:trigger_query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C1CC6C51-731B-4972-942F-5A407208B50B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred Unicode
==============

Search Unicode and copy/paste codepoints as HTML entities, Go or Python string literals, hexadecimal numbers etc.


Usage
=====

.u &lt;query&gt; — Search Unicode codepoints
	↩ or ⇥ — View selected codepoint details
	⌘↩ — Copy UTF-8 character to clipboard
	⌥↩ — Copy Python/Go string escape
	...
	...

You can create your own hotkey–format mappings (see included help).

Use search query "prefs" (i.e. enter ".u prefs" into Alfred) to access workflow settings. Use search query "help" (".u help") to open included help file.


Configuration
=============

See included help file (enter ".u help" into Alfred).</string>
	<key>uidata</key>
	<dict>
		<key>12890D35-22B2-47AB-A54A-3BF0C1F8841D</key>
		<dict>
			<key>note</key>
			<string>Workflow settings</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>26D6782B-964D-4B7F-A280-CBCEB7B008A6</key>
		<dict>
			<key>note</key>
			<string>hide_alfred=true</string>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>305244D4-28CD-479F-A437-AB874B97A000</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>3458DD9D-B744-4AB4-A24A-0A50F68064C0</key>
		<dict>
			<key>note</key>
			<string>Pass input to /usr/bin/open</string>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>4A906369-B077-4300-9FB0-93C69DD9C985</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>5D7B7F22-0E9D-4FEC-886B-7B37DAF6A71A</key>
		<dict>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>67801BE2-E5E0-425F-94C5-B29CC3BBD90A</key>
		<dict>
			<key>note</key>
			<string>Change config, reload workflow, and run trigger</string>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>7314F689-0081-4208-B395-5063E2A71F69</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>887411E2-8BF2-4218-8B04-2D5B0DC36898</key>
		<dict>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>91C833C3-1CC0-4140-92A1-7A85413DD9CC</key>
		<dict>
			<key>note</key>
			<string>Workflow actions</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>A3BF1DED-3BDD-49A2-B001-6CD015F96673</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>B23AEA1C-49B7-4BD4-B519-E59BC7445EA5</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>B564A9DA-3F70-471A-8DF3-8A537CBF2975</key>
		<dict>
			<key>note</key>
			<string>Settings details</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>B56A2C8A-964E-4B12-98E0-F265F34E1F13</key>
		<dict>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>C1CC6C51-731B-4972-942F-5A407208B50B</key>
		<dict>
			<key>note</key>
			<string>Set {query} from trigger_query</string>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>D025E895-3B47-4A1D-A37A-7A57A0A532C7</key>
		<dict>
			<key>note</key>
			<string>Unicode search</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>F52BC7E2-4307-4A55-9A30-367D05308B5F</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>BACKGROUND_COLOUR</key>
		<string></string>
		<key>DISABLED</key>
		<string></string>
		<key>ES6_MODE</key>
		<string></string>
		<key>FONT_NAME</key>
		<string></string>
		<key>ICON_SIZE</key>
		<string>128</string>
		<key>MOD_CMD_OPT</key>
		<string></string>
		<key>RESIZE_FACTOR</key>
		<string>1.0</string>
		<key>TEXT_COLOUR</key>
		<string></string>
		<key>TEXT_SIZE</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>BACKGROUND_COLOUR</string>
		<string>MOD_CMD_OPT</string>
		<string>ES6_MODE</string>
		<string>FONT_NAME</string>
		<string>TEXT_COLOUR</string>
		<string>TEXT_SIZE</string>
		<string>DISABLED</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/deanishe/alfred-unicode/</string>
</dict>
</plist>
