<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.aungmoe.alfred-vscodediff</string>
	<key>connections</key>
	<dict>
		<key>417065AD-9B9C-441A-AEA8-ECFAFC3E9691</key>
		<array/>
		<key>490EB7D1-DBEC-49B7-BAE3-A62034D6453F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7AC86EE-65AA-41D4-852C-A6483167FEF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>535D5D95-71E2-4CD9-8BA2-07E711269AAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7AC86EE-65AA-41D4-852C-A6483167FEF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CD7F7D9-3109-4529-80E6-2C99D3D6A7F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7AC86EE-65AA-41D4-852C-A6483167FEF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6971CB7-0CA1-4A14-A8DB-35D390C0BB76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>417065AD-9B9C-441A-AEA8-ECFAFC3E9691</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B946EE40-1D99-47C8-917F-0BAF6C04E7BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6971CB7-0CA1-4A14-A8DB-35D390C0BB76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDF1ACD6-A3BC-4672-93C9-D9411D81DB3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B946EE40-1D99-47C8-917F-0BAF6C04E7BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7AC86EE-65AA-41D4-852C-A6483167FEF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDF1ACD6-A3BC-4672-93C9-D9411D81DB3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aung Moe</string>
	<key>description</key>
	<string>Show the diff of the last 2 items in clipboard history using VSCode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VSCodeDiff</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vscodediff</string>
				<key>subtext</key>
				<string>Show the diff of the last 2 items in clipboard history using VSCode</string>
				<key>text</key>
				<string>Show Diff in VSCode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>535D5D95-71E2-4CD9-8BA2-07E711269AAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:folderPath}/clipboard1.txt</string>
				<key>filetext</key>
				<string>{clipboard:1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>E7AC86EE-65AA-41D4-852C-A6483167FEF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>diff</string>
				<key>subtext</key>
				<string>Show the diff of the last 2 items in clipboard history using VSCode</string>
				<key>text</key>
				<string>Show Diff in VSCode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9CD7F7D9-3109-4529-80E6-2C99D3D6A7F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clipboard1FilePath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BDF1ACD6-A3BC-4672-93C9-D9411D81DB3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>codediff</string>
				<key>subtext</key>
				<string>Show the diff of the last 2 items in clipboard history using VSCode</string>
				<key>text</key>
				<string>Show Diff in VSCode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>490EB7D1-DBEC-49B7-BAE3-A62034D6453F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:folderPath}/clipboard2.txt</string>
				<key>filetext</key>
				<string>{clipboard:0}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>B946EE40-1D99-47C8-917F-0BAF6C04E7BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>vscode=/usr/local/bin/code
$vscode --diff $clipboard1FilePath $clipboard2FilePath</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>417065AD-9B9C-441A-AEA8-ECFAFC3E9691</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clipboard2FilePath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B6971CB7-0CA1-4A14-A8DB-35D390C0BB76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Show the diff of the last 2 items in clipboard history using VSCode. 

Steps: 
1. Copy block 1
2. Copy block 2
3. Run VSCodeDiff

Requirements: 
* VSCode must be installed. The executable should be accessible via path '/usr/local/bin/code'

License:
* MIT License (https://github.com/logicxd/alfred-vscodediff/blob/main/LICENSE)</string>
	<key>uidata</key>
	<dict>
		<key>417065AD-9B9C-441A-AEA8-ECFAFC3E9691</key>
		<dict>
			<key>note</key>
			<string>Opens VSCode with the diff of the two files</string>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>490EB7D1-DBEC-49B7-BAE3-A62034D6453F</key>
		<dict>
			<key>note</key>
			<string>Show the diff of the last 2 items in clipboard history using VSCode</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>535D5D95-71E2-4CD9-8BA2-07E711269AAE</key>
		<dict>
			<key>note</key>
			<string>Show the diff of the last 2 items in clipboard history using VSCode</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>9CD7F7D9-3109-4529-80E6-2C99D3D6A7F5</key>
		<dict>
			<key>note</key>
			<string>Show the diff of the last 2 items in clipboard history using VSCode</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>B6971CB7-0CA1-4A14-A8DB-35D390C0BB76</key>
		<dict>
			<key>note</key>
			<string>Assigns the output into variable `clipboard2FilePath`</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>B946EE40-1D99-47C8-917F-0BAF6C04E7BA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Write the second copied text to a temp file clipboard2.txt</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>BDF1ACD6-A3BC-4672-93C9-D9411D81DB3C</key>
		<dict>
			<key>note</key>
			<string>Assigns the output into variable `clipboard1FilePath`</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>E7AC86EE-65AA-41D4-852C-A6483167FEF7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Write the first copied text to a temp file clipboard1.txt</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>clipboard1FilePath</key>
		<string></string>
		<key>clipboard2FilePath</key>
		<string></string>
		<key>folderPath</key>
		<string>/tmp/com.aungmoe.alfred-vscodediff</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string>aungmoe.com</string>
</dict>
</plist>
