<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.google.fallback</string>
	</array>
	<key>showAppleScripts</key>
	<true/>
	<key>showFolders</key>
	<true/>
	<key>showUserDefined</key>
	<array>
		<string>com.adobe.pdf</string>
		<string>com.apple.protected-mpeg-4-audio-b</string>
		<string>dyn.ah62d4rv4ge80455cre</string>
		<string>dyn.ah62d4rv4ge80c8x1</string>
		<string>io.iina.mkv</string>
		<string>public.avi</string>
		<string>public.mpeg-4</string>
	</array>
</dict>
</plist>
