<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>axiom</string>
	<key>connections</key>
	<dict>
		<key>224572B1-B1A1-4EE3-88C0-1BF2F146232D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>283F761C-BE35-4173-8E1A-59805CB922E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3211AE98-ACEF-4288-924E-4E937504698E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>283F761C-BE35-4173-8E1A-59805CB922E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E2BB1A8-EA54-4E15-BFA4-14599F56FC68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54083257-EBB3-47A9-9F69-65CD2194FE31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59008CFA-8A57-4D2F-A4A8-F2AFFE2EEA81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31BAF072-F74E-406E-BF8E-6BBBC44854AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CF20047-E2EF-423A-A367-12ED4ECDEA92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A2954DE-492F-45C0-98B2-332421EC9526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B506246D-CBB2-4A5B-8B4E-5245AC103252</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A2954DE-492F-45C0-98B2-332421EC9526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F12D14D7-D2D3-4125-A4F7-47AD49631F5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31BAF072-F74E-406E-BF8E-6BBBC44854AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jth</string>
	<key>description</key>
	<string>Coprime code generator</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Axiom</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>x page {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>54083257-EBB3-47A9-9F69-65CD2194FE31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>page</string>
				<key>subtext</key>
				<string>page &lt;app&gt; &lt;page-name&gt;</string>
				<key>text</key>
				<string>Add a page to a Next project</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E2BB1A8-EA54-4E15-BFA4-14599F56FC68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>show</string>
				<key>subtext</key>
				<string>e.g. 'all', '1', '3', 'jot', 'jth concept'</string>
				<key>text</key>
				<string>Show in VSCode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F12D14D7-D2D3-4125-A4F7-47AD49631F5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>x show {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>31BAF072-F74E-406E-BF8E-6BBBC44854AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>v</string>
				<key>subtext</key>
				<string>Set what VSCode shows</string>
				<key>text</key>
				<string>VSCode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59008CFA-8A57-4D2F-A4A8-F2AFFE2EEA81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>new app</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>New Next project</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7CF20047-E2EF-423A-A367-12ED4ECDEA92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>x new {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>3A2954DE-492F-45C0-98B2-332421EC9526</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>app</string>
				<key>subtext</key>
				<string>Create a new Next app</string>
				<key>text</key>
				<string>New app</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B506246D-CBB2-4A5B-8B4E-5245AC103252</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>x component {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>283F761C-BE35-4173-8E1A-59805CB922E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>component</string>
				<key>subtext</key>
				<string>component &lt;app&gt; &lt;ComponentName&gt;</string>
				<key>text</key>
				<string>Create a new component in an app</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>224572B1-B1A1-4EE3-88C0-1BF2F146232D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>c</string>
				<key>subtext</key>
				<string>component &lt;app&gt; &lt;ComponentName&gt;</string>
				<key>text</key>
				<string>Create a new component in an app</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3211AE98-ACEF-4288-924E-4E937504698E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>224572B1-B1A1-4EE3-88C0-1BF2F146232D</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>283F761C-BE35-4173-8E1A-59805CB922E0</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>31BAF072-F74E-406E-BF8E-6BBBC44854AB</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>3211AE98-ACEF-4288-924E-4E937504698E</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>3A2954DE-492F-45C0-98B2-332421EC9526</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>3E2BB1A8-EA54-4E15-BFA4-14599F56FC68</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>54083257-EBB3-47A9-9F69-65CD2194FE31</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>59008CFA-8A57-4D2F-A4A8-F2AFFE2EEA81</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>7CF20047-E2EF-423A-A367-12ED4ECDEA92</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>B506246D-CBB2-4A5B-8B4E-5245AC103252</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>F12D14D7-D2D3-4125-A4F7-47AD49631F5C</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>coprime.io</string>
</dict>
</plist>
